body, html {
    height: 80%;
    margin: 0;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 300px;
    width: 60%;
    height: 500px;
    box-shadow: 0px 8px 16px 10px rgb(208 202 202);
    border-radius: 16px;
    background-color: 0px 8px 16px 0px rgb(208 202 202);

}
.welcomeText{
    width: 100%;
    text-align: center;
}

.startButton, .stopButton, #startBtn, #stopBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: outset;
    padding: 4px 6px;
    height: 34px;
    background-color: rgb(47, 121, 240);
    color: #ddd;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}


.licenseButtons {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.startButton, .stopButton {
    color: white;
    border-radius: 6px;
    height: 34px;
}

.startButton:hover {
    background-color: rgb(25, 88, 190);
}

.stopButton, #uploadBtn-cancel {
    background-color: #f0f0f0;
    color : black;
    height: 43px;
    border-radius: 12px;
    box-shadow: #f0f0f0;
    box-shadow: outset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#uploadBtn-cancel {
    width: 80px;
}

.stopButton, .cancelButton {
    padding: 0 20px;
    font-weight: 600;
    height: 52px;
    border-radius: 4px;
    background-color: #ddd;
    margin-left: 5px;
}

.cancelButton {
    height: 34px;
    border: none;
}

.cancelButton:hover {
    border: 3px solid #2f79f0;
}

.stopButton:hover {
    background-color: #f5eeee;
    border: 3px solid #ff90e8;
}

.assistant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#visualizer {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f0f0f0;
}

#audio {
    width: 100%;
}
.hidden {
    display: none;
}

#loading {
    margin-top: 20px;
    font-weight: bold;
    gap: 6px;
}

/* Modal for license key input */
.modal, .assistant-modal, .pitch-deck-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .assistant-modal {
    display: block;
    width: 300px;
    height: 90%;
    background-color: #ececec;
    
  }

  .pitch-deck-modal {
    background-color: #ececec;
    height: 80%;
  }

  /* Media query for tablet screens and above */
@media (min-width: 1024px) {
    .assistant-modal {
        width: 40%;
    }
}

  .errorMessage{
    color: red;
    font-size: 12px;
  }
  .errorContainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  #licenseInput {
    width: 95%;
    height: 28px;
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 4px 6px;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

 /* Styles for the popup */
 .img-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 8px;
 }
 .settings-img {
    width: 32px;
    height: 32px;
}

.settings-title {
    font-size: 16px;
    font-weight: normal;
}

#languageSelect {
    width: 127px;
    height: 24px;
    border: 2px solid rgb(47, 121, 240);
}

option {
    font-size: 12px;
}

.radio {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 12px 16px;
    z-index: 1;
  }


 .popup {
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.pitch-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

#uploadBtn, .close-assistance-modal, #uploadBtn-proceed, .uploadBtn-proceed {
    background-color: rgb(47, 121, 240);
    width: 240px;
    padding: 12px 24px;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
}

.uploadBtn-proceed {
    width: 150px;
    margin-top: 20px;
}

#uploadBtn-proceed {
    width: 100px;
}

.close-assistance-modal {
    margin-top: 145px;
    background-color: black;
    width: 140px;

}
